@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0;
  display: none;
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BoxedLight";
  src: url("/fonts/BoxedLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'boxed', system-ui, sans-serif;
  font-size: 16px;

  --border-color: #eee;
  --font-sans: BoxedLight, PingFang SC, Microsoft YaHei light, WenQuanYi Micro Hei, sans-serif;
  /* --font-sans: theme('fontFamily.sans'); */

  --header-height: auto;

  /* make app like native app in mobile */
  -webkit-tap-highlight-color: transparent;
  /*  for firefox */
  scrollbar-width: thin;

  /* font-family:  var(--font-sans); */
  /* font-family: ; */
}

* {
  box-sizing: border-box;
  /* transition: all .3s ease; */
}

*:not(input):not(textarea):not([contenteditable='true']):not(.no-focus-visible):focus-visible {
  outline: 0 !important;
  /* box-shadow: theme(colors.primary) 0px 0px 0px 2px !important; */
}

::view-transition-new(root) {
  animation: turnOff 800ms ease-in-out;
}

::view-transition-old(root) {
  animation: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-style: none;
}

.scrollbar-hide ::-webkit-scrollbar {
  display: none;
}

@keyframes turnOn {
  0% {
    clip-path: polygon(0% 0%, 100% 0, 100% 0, 0 0);
  }

  100% {
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%);
  }
}

[data-theme='dark']::view-transition-new(root) {
  animation: turnOn 800ms ease-in-out;
}

::view-transition-old(root) {
  animation: none;
}

@keyframes turnOff {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}


.global-tag {
  --bs-badge-padding-x: .65em;
  --bs-badge-padding-y: .35em;
  --bs-badge-font-size: .75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: 5px;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: 12px;
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius)
}


.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
